div p-0 
  {{ template "navbar" . }}
  div flex flex-col md:flex-row space-x-9 items-start justify-center
    div w-full md:w-1/2
      div text-white text-center text-2xl mt-3
        Success!
      div mt-3 bg-yellow-300 rounded-lg p-3 text-black
        Thank you for your payment. (this is just a demo)
      div mt-3 bg-orange-900 rounded-lg p-3 text-white
        div id=msg
          We are now downloading your link: {{.item.link}}
        div space-x-3
          span
            Stay on this page... 
          span text-sm hidden id=jump
            a href=/ link
              Jump to next part (demo only)
      div mt-6
        <progress id="progress" class="progress progress-success" value="0" max="100"></progress>
      div mt-6 hidden id=thumbs
        div flex
          div
            img w-64 rounded-md src=/bucket/cd0bc6a1-a7aa-0b7d-d318-601f22783be8_1_125percent.jpg
          div
            img w-64 rounded-md src=/bucket/cd0bc6a1-a7aa-0b7d-d318-601f22783be8_2_125percent.jpg
      div mt-6 bt-32 id=canvas font-mono hidden
      div mt-6 bt-32 id=summaries hidden
        {{ $summaries := .summaries }}
        {{ range $i, $item := .count }}
          div text-white
            minute {{add $i 1}}
          div pb-3
            {{ index $summaries $item }}
        {{ end }}
